/target/
*/target/
.idea/
config/loging1.log
captain.iml
.classpath
.factorypath
.project
.settings/
.java-version
.DS_Store
.ijwb/**

.gradle
build
*.iml
*/*.iml
frontend/node_modules
frontend/src/__generated__
graphql/src/main/java/generated/
