func (se *ExecutorMock) Execute@title@(ctx context.Context, request *fs.@service_request@) (*fs.@service_response@, error) {    
    var @service_response@ *fs.@service_response@
    args := se.Called(ctx,request)
    mocked@service_response@ := args.Get(0)
    if mocked@service_response@!=nil{
		@service_response@ = mocked@service_response@.(*fs.@service_response@)
	}
	return @service_response@,args.Error(1)
}