func (se *GenericExecutor) Execute@title@Bulk(ctx context.Context, bulkrequest *fs.Bulk@service_request@) (*fs.Bulk@service_response@, error) {
    return se.ServiceExecutor.Execute@title@Bulk(ctx, bulkrequest)
}