apiVersion: v1
kind: Service
metadata:
  name: @service_name_kebab@-service
  namespace: @namespace@
spec:
  ports:
    - name: grpc
      port: @server_port@
      protocol: TCP
  type: ClusterIP
  selector:
    app: @service_name_kebab@